[Unit]
Description=API for Transmission
After=transmission-daemon.service

[Service]
User=steve
Type=simple
ExecStart=/bin/bash -c 'node /home/steve/.scripts/transmission-api.js'
ExecStop=/bin/kill -s STOP $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
